*{
    font-family: Inter,sans-serif;
    --margin:40px
    /* --colorGrey:rgba(78, 77, 76, 0.2); */
    

}
:root{
    --primaryColor:rgba(78, 77, 76, 0.2) ;
}
body{
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#resume{
    width: 100px;
    height: 50px;
    background-color:rgba(78, 77, 76, 0.2) ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
#resume a{
    color: blueviolet;
    text-decoration: none;
    
    margin-left: -10px;
}
p{
    /* text-align: center; */
 margin-left:var(--margin) ;
    
    
}
a{
    text-decoration: none;
    /* color: black; */
}
footer{
    background-color:rgba(78, 77, 76, 0.2);
    height: 200px;
    width: 100vw;

}
h3{
    margin-left: var(--margin);
    
}
h2{
    margin-left: var(--margin);
    font-weight: lighter;
    font-size: 1rem;
   
}
h1{
    margin-left: var(--margin);
    font-weight: bold;
    text-transform: capitalize;
}
#divImage{
    display: flex;
}
#divImage div:first-child ul li{
    color: black;
    /* margin-left: var(--margin); */
    font-weight: bold;
    /* text-decoration: underline; */
    text-decoration-color: black;
    text-transform: uppercase;
    
    
    
}
#divImage div:last-child ul li{
    color:black;
    font-weight: bold;
    /* text-decoration: underline; */
    text-decoration-color: black;
    text-transform: uppercase;
    
    
}
.aboutMe{
    text-align: center;
    text-transform: uppercase;
    color: blue;
    padding: 50px;
    font-weight: bold;
}
.aboutMe a{
    text-decoration: none;
    color: blueviolet;

}
                /* div benefits */
.ben1{
    background-color:var(--primaryColor) ;
    padding: 10px;
    margin-bottom: 10px;
    margin: 10px;
     height: 300px; 
    position: relative;
}
.ben2{
    background-color: var(--primaryColor);
    padding: 10px;
    margin: 10px;
    height: 300px;
    
}
/* map styles */
#map{
    height: 100vh;
}


header{
    background-color:rgba(78, 77, 76, 0.2) ;
    width: 100vw;
    height: 10vh;
}


/* header dashboard  desktop view*/
@media only screen and (min-width: 992px){
header{
    background-color: var(--primaryColor);
    height: 10vh;
    width: 100%;
}
header #Hmenu #navMenu{
    display: flex;
    justify-content:space-between ;

}
}


/* tablet view */
@media only screen and (min-width: 768px) {
    header{
        background-color: var(--primaryColor);
        height: 10vh;
        width: 100%;
        position: relative;
        margin-top: 0px;
    }

    /* nav-menu */
    header #Hmenu .nav-menu{
        display: flex;
        gap: 20px;
         margin-left: 40vw;
        margin-right: 10px; 
        padding-top: 10px;
        
        justify-content: space-between;
    
    }
    /* container1 */
    #container1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    

}
/* text */
#text{

}

/* container1 */
#container1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}