@import "sassVar.scss";


.benefit{
    .ben1{
        background-color: $primaryColor;
        position: relative;

    }
    .ben2{
        background-color: $primaryColor;
        position: relative;
    }
}