@import "sassVar.scss";

// div benefits
.benefits{
    .ben1{
        background-color: $primaryColor;
        position: relative;

    }
    .ben2{
        background-color: $primaryColor;
        position: relative;
    }
}