@media only screen and ( max-width:768px) {

    /* header{
         background-color:rgba(78, 77, 76, 0.2) ; 
        width: 100vw;
         height: 20vh; 
    } */

    li{
        /* list-style: none; */
    }
    ul{
        display: block;
        
    }
    .harmburger{
        width: 35px;
        height: 2px;
        background-color:black;
        margin-bottom:8px ;
        
    }
    .nav-menu{
        position: fixed;
        left: -120%;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        background-color: #262626;
        width: 100%;
        display: none;
        

    }
    .nav-menu.active{
        left: 0;
    }

    /* hamburger */
    #harmburger{
        float: right;
        margin-right: 20px;
        margin-top:  23px; 
        
        
        
    
    }
    #resume{
        margin-left: var(--margin);
    }
    #aboutMe{
        background-color:rgba(78, 77, 76, 0.2) ;
        margin-top: 10vh;
    }

    #p2{
        margin-top: 5vh;
    }
    #socialimage{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30vh;
        margin-bottom: 30vh;
    }
    #socialmedia img{
        
    }
    input{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 50px;
        margin-top: 5vh;
    }
    #aboutMe{
        margin: 10px;
        padding: 10px;
    }
}